@reference "../../../styles/globals.css";

.container {
	@apply bg-primary relative h-full w-full overflow-hidden;
}

.flash {
	@apply bg-primary pointer-events-none absolute inset-0;
	animation: fadeOut 4s ease-in-out forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
