@reference "../../../styles/globals.css";

.container {
	@apply relative w-full h-full overflow-hidden bg-primary;
}

.flash {
	@apply absolute inset-0 pointer-events-none bg-primary;
	animation: fadeOut 4s ease-in-out forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
